<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head'); -%>
    <link href="/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
</head>

<body id="page-top">

<div id="wrapper">
    <%- include('../sidebar'); -%>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <%- include('../topbar'); -%>
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="..">Home</a></li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="card mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"><%= title %></h6>
                            </div>
                            <div class="card-body">
                                <form method="post" autocomplete="off">
                                    <div class="row">
                                        <div class="col">
                                            <label for="exampleInputLastName">Name </label>
                                            <input type="text" class="form-control" value="<%= artist.name %>"
                                                   name="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Thumbnail </label>
                                        <input type="text" class="form-control" value="<%= artist.thumbnail %>" name="thumbnail"
                                               aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group" id="simple-date1">
                                        <label for="simpleDataInput">Date of Birth</label>
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="YYYY-MM-DD"
                                                   value="<%= artist.dob %>" id="simpleDataInput" name="dob">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <lable>Home Town</lable>
                                        <input type="text"  class="form-control" value="<%= artist.hometown %>" name="hometown">
                                    </div>
                                    <div class="form-group">
                                        <lable>Bio</lable>
                                        <input type="text" class="form-control" value="<%= artist.bio %>" name="bio">
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabelLogout"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to logout?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel
                                </button>
                                <a href="login.html" class="btn btn-primary">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../sign-out-modal'); -%>
    </div>
</div>
<%- include('../footer'); -%>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<%- include('../scripts'); -%>
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
    $('#simple-date1 .input-group.date').datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: 'linked',
        todayHighlight: true,
        autoclose: true,
    });
</script>
</body>
</html>
