<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head'); -%>
</head>

<body id="page-top">
<div id="wrapper">
    <%- include('../sidebar'); -%>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar -->
            <%- include('../topbar'); -%>
            <!-- Topbar -->
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">User List</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="..">Home</a></li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active" aria-current="page">User List</li>
                    </ol>
                </div>
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Form Basic</h6>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label>Format</label>
                                <input type="text" class="form-control" name="format" id="exampleInputEmail1">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <!--Row-->
                <%- include('../sign-out-modal'); -%>
            </div>
            <!---Container Fluid-->
        </div>
        <%- include('../footer'); -%>
    </div>
</div>
<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<%- include('../scripts'); -%>
</body>
</html>