<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body>
<%- include('header'); -%>

<div class="wrapper">
    <div class="container pt-3 ">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href=".." class="text-dark">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ul>
    </div>
    <div class="container py-5">
        <div class="row mt-2">
            <div class="col-md-9 table-responsive">
                <h4>Order History</h4>
                <table class=" table table-hover ">
                    <thead>
                    <tr class="bg-danger">
                        <th class="bg-danger text-light rounded-left">OrderID</th>
                        <th class="bg-danger text-light">Order Date</th>
                        <th class="bg-danger text-light">Payment Status</th>
                        <th class="bg-danger text-light">Completion Status</th>
                        <th class="bg-danger text-light rounded-right">Total
                        <th>
                    </tr>
                    </thead>
                    <tr data-href="thong-tin-don-hang.html">
                        <td><a href="">#A0001</a></td>
                        <td>20/01/2021 19:15:01</td>
                        <td>Pending</td>
                        <td>Fulfilled</td>
                        <td>250,000₫</td>
                    </tr>

                    <tr data-href="index.html">
                        <td><a href="">#A0098</a></td>
                        <td>09/01/2021 08:57:01</td>
                        <td>Pending</td>
                        <td>Fulfilled</td>
                        <td>250,000₫</td>
                    </tr>
                    <tr data-href="#">
                        <td><a href="">#A0011</a></td>
                        <td>09/01/2021 08:57:01</td>
                        <td>Pending</td>
                        <td>Fulfilled</td>
                        <td>250,000₫</td>
                    </tr>
                    <tr>
                        <td><a href="">#A0006</a></td>
                        <td>09/01/2021 08:57:01</td>
                        <td>Pending</td>
                        <td>Not Fulfilled</td>
                        <td>250,000₫</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3 col-12">
                <h4>Account Details</h4>
                <div class="d-inline-block mt-2 text-profile">
                    <div class="mb-2">Name: Nguyen Hoang</div>
                    <div class="mb-2">Address: 70 Nguyen Hoang, Nam Tu Liem, Hanoi</div>
                    <div class="mb-2">Phone: 0936 666 999</div>
                    <div class="mb-2">Email: 01012002@gmail.com</div>
                </div>
                <div class="mt-4 ">
                    <button class="btn btn-danger btn-sm">Update Information</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
</div>
<%- include('cart-sidebar'); -%>
<%- include('scripts'); -%>
</div>
</body>
</html>