<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
</head>
<div class="wrapper">
    <%- include('header'); -%>
    <div class="container pt-3">
        <div class="path">
            <h6 class="my-2">Home / Sign Up</h6>
        </div>
    </div>
    <form class="form-group text-center my-4" id="signUpForm" method="post" autocomplete="off">
        <input type="text" class="form-control" name="firstName" placeholder="First Name">
        <input type="text" class="form-control" name="lastName" placeholder="Last Name">
        <input type="email" class="form-control" name="email" placeholder="Email">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
        <input type="text" class="form-control" name="phone" placeholder="Phone">
        <input type="text" class="form-control" name="address" placeholder="Address">
        <button class="btn btn-danger btn-block" type="submit">Submit</button>
        <a href="sign-in.ejs" class="d-block text-dark mt-3">Already Have an Account? Sign In</a>
    </form>
    <%- include('footer'); -%>
</div>
<%- include('cart-sidebar'); -%>
<%- include('scripts'); -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="../public/javascripts/sign-up.js"></script>
</body>
</html>